html {
    height: 100%;
    background-color: burlywood;
    }
    body {
        text-align: center;
    }
    ul {
        list-style: none;
    }
    ol {
        text-align: left;
    }  
    .button {
        text-decoration: none;
        border: .5px solid #000; 
        font-size: 50px;
        background-color: antiquewhite;
        color: black;
        padding: 2px;
        border-radius: 1px;
    }
    body {
        padding-bottom: 50px;
    }